/*bootstrap imported up to specified breakpoint*/
/*@import url(bootstrap-3.2.0/css/bootstrap.min.css) (max-width: 800px);*/
@import url(bootstrap-3.2.0/css/bootstrap.min.css) (max-width: 980px);


/*walkthroughs and comments*/
div.spoiler .hide{
	 display: block !important;
}


/*phone and tablet*/	
/*@media(max-width:800px)*/
@media(max-width:980px){
	
	body{
		background-color: none;
	}
	
	#container-inner,
	#header-inner, #main-navigation-inner, #content-inner, #footer-inner,
	.layout-wt #alpha,
	#beta-top-wrap {
		
		/*width: 100%;*/
		width: auto;
	}

	
	
	#alpha, #beta, #gamma{
		float: none;
	}
	
	.layout-wt #alpha-inner{
		margin-right: 0;
	}
	
	.cat-panel-window{
		width: 100%;
	}
	
	/*header area things that are same for phone and tablet*/
	#header{
		background-position: center bottom;
		position: relative;
	}
	/*mobile buttons*/
	 #header .btn-default{
	    background-color: #0c073d;
    border: 1px solid #25b2f9;
    color: #ffcb00;
    font-size: 23px;
	padding: 6px 10px 2px;
	border-radius: 3px;
   }
   
   #mobile-sign-in,
   #mobile-fav,
   #mobile-search{
	   /*d-10/13/14*/
	 /*  position: absolute;*/
	   bottom: 15px;
   }
    #mobile-sign-in{
		right: 109px;
	}
	 #mobile-fav{
		 right: 58px;
	 }
	  #mobile-search{
		  right: 8px;
	  }
   
    /*logo*/
	
	#header .widget-logo h1, #header .widget-logo h2{
	
		  margin-bottom: 2px;
	}
	#header .widget-logo{
		display: inline-block;
    margin-left: 5px;
    width: 183px;
	}
   /*sign in*/
	#header .widget-sign-in{
		width: auto;
	}
	/*search panel*/
	#header .widget-search{
     background-color: #0c073d;
    margin-left: 0;
    padding-top: 10px;
    width: 100%;
	
	/*d-10/13/14*/
	position: static;
	
	}
	#header #search-submit{
		float: none;
	}
	
		/*header*/
	#header-inner{
		height: auto !important;
		padding-top: 10px;
	}
	
	
	/*logo*/
	
	
	#header .widget-logo h1, #header .widget-logo h2{
		 background-size: 198px auto;
    height: 53px;
    width: 185px;
	position: static;
	top: 0px;
	margin-top: 0px;
	}
	
	#header .widget-logo h1 a, #header .widget-logo h2 a {
    height: 53px;
    width: 198px;
}
	
	/*mobile navigation */
	#mobile-nav{
		background: #D8DDE8;
		 background: -moz-linear-gradient(center top , #e4e9f5 0%, #d6dbe6 63%, #c7cdd7 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		 /*need other browsers*/
		 width: 100%;
		 font-family: Roboto, Helvetica, Arial, sans-serif;
		 position: relative;
	}
	
	
	#mobile-nav ul{
		list-style: none outside none;
		margin-left: 0px;
	}
	#mobile-nav ul li{
		margin-left: 5px;
		margin-right: 5px;
	}
	#mobile-nav ul li.hm,
	#mobile-nav ul li.nav-open{
		margin-left: 0;
		margin-right: 0;
	}
	
	#mobile-nav ul li.nav-open{
		position: absolute;
		right: 0px;
	}
	
	
	#mobile-nav ul li h2{
		font-size: 1.05em;
		 margin-bottom: 12px;
       margin-top: 12px;
	}
	#mobile-nav ul li h2 a{
		padding-top: 12px;
		padding-bottom: 12px;
	}
	#mobile-nav .nav > li > a{
		padding: 12px 5px 12px 11px;
	}
	#mobile-nav .nav-open{
		cursor: pointer;
	}
	#mobile-nav li span.glyphicon{
		 display: block;
     padding: 12px 4px;
    position: relative;
	color: #063466;
	cursor: pointer;

	}
	#mobile-nav li .glyphicon{
	font-size: 1.2em;
	}
	
	#mobile-nav .nav-open span.glyphicon:before {
		content: '';
	}
	
	#mobile-nav .nav-open span.glyphicon{
		background: url(images/mobnav-icn.svg) no-repeat center center;
		padding: 20px 35px 20px 10px;
	}
	
		/*main navigation into dropdown*/
	
#main-navigation ul li h2{
		font-size: 1em;
	}
		
	#main-navigation{
		width: auto;
		height: auto;
		background: none;
	}
	#main-navigation-inner{
	   height: auto;
	}
	
	#main-navigation li.tab{
		float: none;
		margin-right: 0px;
	}
	#main-navigation li.tab a,
	#main-navigation ul li.tab > a{
		background: #0c073d !important;
		color: #DADFEA !important;
		border-radius: 0 !important;
		  box-shadow: none !important;
		  text-shadow: none !important;
		   padding: 6px 11px !important;
		   border-left: 0 !important;
		   
		 
	}
	#main-navigation ul li.tab ul li ul a,
	#main-navigation ul li.tab ul li ul a.last{
		border: 0;
	}
	#main-navigation ul li.tab ul li ul a,
	#main-navigation li.tab a,
	#main-navigation ul li.tab > a{
		  border-bottom: 1px solid #2a256d;
	}
		
	
	#main-navigation ul li.tab > ul{
		display: inline;
		position: static;
		width: 100%;
	}
	#main-navigation ul li.tab > ul.on{
		display: inline-block;
	}
	
	
	#main-navigation ul li.tab ul li{
		float: none;
	}
	
	#main-navigation ul li.tab ul li ul{
		display: inline;
		position: static;
	}
	
	/*favorite games top panel*/
	#fav-games-mobile{
		
	}
	
	#fav-games-mobile a img{ 
	-webkit-box-shadow: 7px 7px 0 0 #07143d;
box-shadow: 4px 4px 0 0 #07143d;
padding: 1px;

background: #f9e13e;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZTEzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNzhjMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f9e13e 0%, #b78c0b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9e13e), color-stop(100%,#b78c0b));
background: -webkit-linear-gradient(top,  #f9e13e 0%,#b78c0b 100%);
background: -o-linear-gradient(top,  #f9e13e 0%,#b78c0b 100%);
background: -ms-linear-gradient(top,  #f9e13e 0%,#b78c0b 100%);
background: linear-gradient(to bottom,  #f9e13e 0%,#b78c0b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e13e', endColorstr='#b78c0b',GradientType=0 );
}

#fav-games-mobile{
	border-bottom: none;
	box-shadow: none;
	background: url(images/sidebar-back-btm.png) no-repeat center bottom;
}

#fav-games-mobile .widget-header{
	 background: url("images/fav-head-icn.png") no-repeat scroll left 9px ;
    font-size: 27px;
    padding-left: 29px;
	 margin-left: 12px !important;
}

#fav-games-mobile .edit{
	  background: url("images/edit-fav-icn.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 30px;
    width: 30px;
	left: -5px;
    position: relative;
    top: -13px;
}
#fav-games-mobile .edit span{
	display: inline-block;
    text-indent: -9999px;
}
#fav-games-mobile .widget-content{
	font-size: 14px;
    font-weight: 300;
	margin: 1px 29px 10px 36px;
	padding-bottom: 20px;
}
#fav-games-mobile .widget-content>a:link,
#fav-games-mobile .widget-content>a:visited,
#fav-games-mobile .widget-content>a:hover,
#fav-games-mobile .widget-content>a:active
{
	color: #fff;
}

#fav-games-mobile .game-icons-skyscraper{
	
}
#fav-games-mobile .game-icons-skyscraper a{
	margin: 4px 4px 7px;
	}

#fav-games-mobile .game-icons-skyscraper a{
	float: left;
}


#fav-games-mobile .game-icons-skyscraper a.empty-icon{
	background: #d1d6e2 url(images/game-add-back.png) no-repeat center center; 

	border: 1px solid #DCE1EC;
    display: inline-block;
    height: 50px;
    width: 50px;

	-webkit-box-shadow: inset -1px 1px 6px 0 #07143d, 7px 7px 0 0 #07143d;
box-shadow: inset -1px 1px 6px 0 #07143d, 4px 4px 0 0 #07143d;
}

#fav-games-mobile .game-icons-skyscraper span{
	display: inline-block;
    height: 50px;
    text-indent: -9999px;
    width: 50px;

}


/*sidebar*/
#beta-top-wrap .rounded-hr hr{
	margin-top: 0;
	margin-bottom: 0;
	  border: medium none;
}

#beta-top-wrap li h2{
	font-size: 100%;
	line-height: 1.3em;
	margin-top: 0px;
}
	
	}
	/*tablet only*/
/*@media(min-width:768px) and (max-width:800px)*/
@media(min-width:768px) and (max-width:980px){
	
	#header {
    background-position: 61% bottom;
	}
	
	/*mobile nav*/
	#mobile-nav ul li h2 a {
    padding-left: 1px;
	}
	
	/*sidebar*/
	#beta-top-wrap{
		position: relative;
	}
	
	#beta-top-wrap .widget{
	 width: 33.3333%;
	 padding: 0;
	
	}
	
	#casual-game img,
	#browser-game img,
	#mobile-game img{
		 height: auto;
    width: 100%;
	}
	
	#fav-games{
		position: absolute;
		top: 250px;
		
	}
	
	.widget.jumbotron,
	.widget.jumbotron .widget-content{
		clear: both;
	}
	

	}
@media(min-width:600px) and (max-width:980px) {
	
	/*new free online games - returns to init position*/
	.portal-fragment .cat-header h1, .portal-fragment .cat-header h2{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.cat-panel-window{
		position: absolute;
	}
	
	.portal-fragment .blog-entry{
		margin: 0px;
	}
	
	.portal-slider-panel{
		width: 100%;
	}
}
@media(max-width : 767px){
	#beta-top-wrap .widget-recent-comments{
		float: none;
	}
	#beta-top-wrap #reloadcomments{
		margin: 0px;
		position: relative;
		right: -15px;
	}
	#beta-top-wrap #slidedown, #beta-top-wrap #slideup{
	padding-right: 10px;
	background-position: 97% center;
	}
	
	.layout-wt #beta{
		width: 100%;
	}
	
	#beta-inner {
		overflow: hidden;
	}
}

@media(max-width : 725px){
		/*top ad*/
	.widget-topad{
		width:100%;
	}
	.widget-topad .widget-content{
		padding: 0px;
		overflow: hiddent !important;
	}
	.widget-topad center{
		position: relative;
		width: auto;
		left: -25%;
	}
}

@media( max-width: 590px){
	.widget-topad center{
		position: relative;
		width: auto;
		left: -50%;
	}
}

@media(max-width: 568px){
	 /*header*/
   #header-inner{
	padding-top: 10px;
	}
}
	/*need to bump up the breakpoint to closer 768 min?*/
	/*phone only*/
@media(max-width : 480px) {
	.hidden-xxs{
		display: none !important;
	}
	


  
	


	
	/*content area*/
    #alpha {
		font-size: 1em;
		font-family: 'Roboto',Helvetica,Arial,sans-serif;
	}
	
	
	/*new games displayed as reviews*/
	#alpha .portal-fragment{
		font-size: 1em;
		font-family: 'Roboto',Helvetica,Arial,sans-serif;
	}
	
	.portal-fragment .cat-set{
		background: none;
		margin-left: inherit;
		margin-right: inherit;
		width: auto;
		
	}
	
	.portal-slider-panel,
	.portal-fragment .blog-entry{
		float: none;
	}
	.portal-fragment .blog-entry{
		height: auto;
		 margin-left: 0px;
      margin-right: 0px;
	   padding-left: 8px;
    padding-right: 8px;
	}
	
	.portal-fragment .entryheader{
	 border-top: 1px solid #063466;
    margin-top: 0;
	 padding-left: 10px;
    padding-right: 10px;
	
	}
	
	ul.review-tab-buttons li h2{
		font-size: 1em;
		margin-top: 0px;
	}
	
	.portal-fragment .entrytitle{
		height: auto;
		margin-bottom: 0;
		overflow: auto;
	}
	.portal-fragment .entrytitle h1, .portal-fragment .entrytitle h2{
		 font-size: 1.6em;
    line-height: 2.5em;
	}
	
	.portal-fragment .entrydate{
		font-size: 1em;
	}
	
	.portal-fragment .blogbody{
		margin-top: 0;
		height: auto;
		font-size: 1.15em;
		font-weight: 300;
		line-height: 1.5em;
		 padding-left: 10px;
    padding-right: 10px;
	}
	
	.portal-fragment .entrydate{
		float: none;
	}
	
	.portal-fragment .clear{
		clear: none;
	}
	
	.portal-fragment .rating_bar{
		margin: 0;
	}
	
	.portal-fragment .blog-entry{
		width: auto;
	}
	.portal-slider-panel{
		width: auto;
	}
	.portal-fragment .blogbody a.thumb{
		float: right;
	}
	
	/*full archived review*/
	.layout-wt .action-arcade, .layout-wt .adventure, .layout-wt .boardgame, .layout-wt .cardgame, .layout-wt .fighting, .layout-wt .hidden-object, .layout-wt .interactiveart, .layout-wt .jigman, .layout-wt .music, .layout-wt .physics, .layout-wt .platformer, .layout-wt .point-and-click, .layout-wt .puzzle, .layout-wt .room-escape, .layout-wt .resourcemgmt, .layout-wt .rpg-strategy, .layout-wt .simple-idea, .layout-wt .simulation, .layout-wt .sports, .layout-wt .stunt, .layout-wt .textgame, .layout-wt .tower-defense, .layout-wt .webtoy-interactive, .layout-wt .wordgame, .layout-wt .xmas {
    background-position: 95% 30%;
}
	
	.entry-container {
    padding-left: 10px;
    padding-right: 10px;
	}
	
	.entrytitle h1, .entrytitle h2{
		float: none;
        width: 100%;
	}
	
	.entrydate {
    float: none;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    width: 100%;
	}
	
	.tags, .platform{
	   font-size: 1em;
	    width: 100%;
		font-weight: 400;
	}
	.tags a{
		font-weight: 400;
    line-height: 1.5;
	}
	
	#content .addthis_toolbox{
		width: 100%;
		height: auto;
	}
	
	#content .addthis_toolbox .col-xs-6{
	
	padding-left: 15px !important;
    padding-right: 15px !important;
	width: 50%;
	
	}
	
	.bannerimage{
		 height: auto;
       width: 100%;
	}
	
	.entrybody,
	#more p {
    font-size: 1.15em;
    font-weight: 300;
	line-height: 1.45em;
    }
	
	html > body .rightimage, html > body .rightalphaimage {
    margin: 0 auto;
	
	}
	
	a.play{
	 width: 100%;	
	}
	
	a.play span.playButton{
		width: 99.5%;
		font-size: 1.5em;
	height: auto;
	line-height: 1.2em;
	}
	
	/*walkthrough*/
	#walkthrough .comment{
		margin: 0px;
		padding: 0px;
		 font-family: Roboto;
	}
	#walkthrough div.spoiler{
		 margin-left: 0;
        margin-right: 0;
	}
	
	#walkthrough.comments{
		 padding-left: 0px;
	}
	#walkthrough > .comments-content{
		padding-right: 0px;
	}
	#walkthrough .comments-content .comments-header,
	#walkthrough .pulltext{
		padding-left: 10px;
	}
	
	#walkthrough .spoiler ol, #walkthrough .spoiler ul {

    margin-left: 15px;
	
	}
   
	
	/*comments*/
	
	#comment-panels.ui-tabs .ui-tabs-panel{
		padding: 5px 0;
	}
	#comment-panels .comment{
	 padding: 0 5px;
	 font-family: Roboto;
	}
	
	
	/*sidebar*/
	#beta-top-wrap{
		border-radius: 0;
	}
	#beta-top-wrap .widget{
	 width: 100%;
	
	}
	

	
	.widget-archive{
		
	}
	.widget-archive select{
		color: #333;
	}
	
	/*sidebar twitter section*/
	.widget.jumbotron,
	.widget.jumbotron .widget-content{
		padding: 0;
		margin: 0;
		background: none;
		clear:both;
	}
	.widget.jumbotron iframe{
		width: 100% !important;
	}
	
}

@media(max-width: 320px){
	/*header area*/
	
	#header .widget-logo h1, #header .widget-logo h2{
		 background-size: 185px auto;
		  margin-bottom: 0;
		  width: 170px;
	}
	#header .widget-logo h1 a, #header .widget-logo h2 a {
    width: 170px;
	}
	
	 #header .btn-default{
    padding: 5px 7px 1px;
	
	 }
	 
	     #mobile-sign-in{
		right: 96px;
	}
	 #mobile-fav{
		right: 52px; 
	 }
	
   
	
	
}
	/*
@media(min-width:992px){
	
	*{
	  box-sizing: content-box;
	}
	
	*:before, *:after {
    box-sizing: content-box;
    }
	 .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	  padding: 0;
	  float: none;
	}
	
	.row {
    margin-left: 0;
    margin-right: 0;
    }
	
	.col-xs-12 {
    width: auto;
    } 
	
	}
@media(min-width:1200px){

	
	
	}
	
	*/

/*the other way around*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
   
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	 /* #container-inner{
		width: 100%;
	 }*/
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}
